* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .signup-form {
    margin: 80px auto;
    max-width: 500px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .signup-form h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    color: #333;
  }
  
  .signup-form form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    border: 1px solid #ccc;
  }
  
  .form-group input[type="text"]:focus,
  .form-group input[type="email"]:focus,
  .form-group input[type="password"]:focus {
    outline: none;
    border-color: #3399ff;
  }
  
  .btn {
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #3399ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #2676b7;
  }
  .red{

    color:red;
    display: none;
  }

  .show{
    display: block;
  }
  